<div class="body-container">
    <p-toast></p-toast>
    <div class="btn-shorcut">
        <h3 class="h2-color">{{titulo}}</h3>

        <div class="btn-group" *ngIf="showButtonNew && onlyRoleAdmin">
            <button pButton pRipple label="Nuevo producto" icon="fa-solid fa-plus" class="p-button-text button" (click)="habilitarNuevoProducto()"></button>           
        </div>        
    </div>
    
    <!-- Formulario de creacion -->
    <div class="form-container" *ngIf="isNewProducto && onlyRoleAdmin">
        <form class="filter-form" [formGroup]="formNuevoProducto"  class="p-fluid">
            <table class="table-full-width" cellspacing="0">
                <tr class="row">                
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" type="text" pInputText formControlName="nombreProducto" class="p-inputtext-sm w-full" required="true"/>
                            <label htmlFor="nombreProducto">Nombre Producto *</label>
                        </span>                 
                    </td>
    
                    <td class="column">           
                        <span class="p-float-label ">
                            <p-dropdown id="input-estados-cat" formControlName="categoria" [options]="categorias" placeholder="Seleccione una categoría" optionLabel="nombreCategoria" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}" [filter]="true" filterBy="nombreCategoria"></p-dropdown>
                            <label for="float-label">Categoría</label>
                        </span>
                    </td>
    
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" type="text" pInputText formControlName="descripcion" class="p-inputtext-sm w-full"/>
                            <label htmlFor="descripcion">Descripción</label>
                        </span>                    
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" type="text" pInputText formControlName="codigoBarras" class="p-inputtext-sm w-full"/>
                            <label htmlFor="codigoBarras">Código de barras</label>
                        </span>                                       
                    </td>
                    <td class="column">                     
                        <span class="p-float-label">
                            <p-inputNumber inputId="currency-us" placeholder="Ingrese el costo del producto" formControlName="costo" mode="currency" currency="USD" locale="en-US" class="p-inputtext-sm w-full" [required]="true"></p-inputNumber>
                            <label htmlFor="costo">Costo *</label>
                        </span>
                    </td>
                    <td class="column"> 
                        <span class="p-float-label">
                            <p-inputNumber inputId="currency-us" placeholder="Ingrese el precio" formControlName="precioVenta" mode="currency" currency="USD" locale="en-US" class="p-inputtext-sm w-full" [required]="true"/>
                            <label htmlFor="precioVenta">Precio de venta</label>
                        </span>                    
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="estado" class="p-inputtext-sm w-full"/>
                            <label htmlFor="estado">Estado</label>
                        </span>                    
                    </td> 
                </tr>
                <tr class="row">
                    <div class="button-actions">
                        <button mat-flat-button type="submit" color="primary" class="button width height" (click)="guardarProducto()" [disabled]="formNuevoProducto.invalid">Crear</button>
                        <button mat-flat-button color="accent" class="button width height" (click)="limpiarFormularioCreacion()">Cancelar</button>
                    </div>
                </tr>
            </table>
        </form>
    </div>
    
    <!-- Formulario de filtros de busqueda  -->
    <div class="form-container" *ngIf="isShowProducto">
        <form class="filter-form" [formGroup]="formBuscarProductos" class="p-fluid">
            <table class="table-full-width" cellspacing="0">
                <tr class="row">      
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" placeholder="Ingrese código de producto" type="number" pInputText formControlName="idProducto" class="p-inputtext-sm w-full"/>
                            <label htmlFor="idProducto">Código producto</label>
                        </span>                   
                    </td>          
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" type="text" pInputText formControlName="nombreProducto" class="p-inputtext-sm w-full" required="true"/>
                            <label htmlFor="nombreProducto">Nombre Producto</label>
                        </span>                    
                    </td>
                    
                    <td class="column">   
                        <span class="p-float-label ">
                            <p-dropdown id="input-estados-cat" formControlName="categoria" [options]="categorias" placeholder="Seleccione una categoría" optionLabel="nombreCategoria" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}" [filter]="true" filterBy="nombreCategoria"></p-dropdown>
                            <label for="float-label">Categoría</label>
                        </span>                    
                    </td> 
    
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-producto" type="text"  placeholder="Ingrese código de barras" pInputText formControlName="codigoBarras" class="p-inputtext-sm w-full"/>
                            <label htmlFor="codigoBarras">Código de barras</label>
                        </span>
                    </td>
    
                    <td class="column">
                        <span class="p-float-label">
                            <p-inputNumber inputId="currency-us" placeholder="Ingrese el costo del producto" formControlName="costo" mode="currency" currency="USD" locale="en-US" class="p-inputtext-sm w-full" [required]="true"></p-inputNumber>
                            <label htmlFor="costo">Costo</label>
                        </span>                    
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <p-inputNumber inputId="currency-us" placeholder="Ingrese el precio" formControlName="precioVenta" mode="currency" currency="USD" locale="en-US" class="p-inputtext-sm w-full" [required]="true"/>
                            <label htmlFor="precioVenta">Precio de venta</label>
                        </span>
                    </td>
                    <td class="column"> 
                        <span class="p-float-label ">
                            <p-dropdown id="input-estados-cat" formControlName="estado" [options]="estados" placeholder="Seleccione un estado" optionLabel="valor" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}"></p-dropdown>
                            <label for="float-label">Estados</label>
                        </span>                    
                    </td> 
                </tr>
                <tr class="row">
                    <div class="button-actions">
                        <button mat-flat-button type="submit" color="primary" class="button width height" (click)="buscarProductosPorFiltros()">Buscar</button>
                        <button mat-flat-button color="accent" class="button width height" (click)="limpiarFormularioBusqueda()">Limpiar</button>
                    </div>
                </tr>
            </table>
        </form>
    </div>
    
    
    <div class="card" *ngIf="isShowProducto">        
        <p-table #dt
                 [value]="productos" 
                 [paginator]="true"
                 [rows]="5"
                 [rowHover]="true"
                 dataKey="idProducto"
                 [showCurrentPageReport]="true"
                 [tableStyle]="{ 'min-width': '50rem',  }" class="p-datatable-sm"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[5, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:7%;"><div class="th-text-color">Código</div></th>
                    <th style="width:23%;"><div class="th-text-color">Nombre Producto</div></th>
                    <th style="width:18%;"><div class="th-text-color">Categoría</div></th>
                    <th style="width:14%;"><div class="th-text-color">Código de barras</div></th>
                    <th style="width:13%;"><div class="th-text-color">Precio de venta</div></th>
                    <th style="width:7%;"><div class="th-text-color">Estado</div></th>
                    <th style="width:18%; text-align: center;"><div class="th-text-color">Acciones</div></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>
                    <td>{{ producto.idProducto }}</td>
                    <td>{{ producto.nombreProducto }}</td>
                    <td>{{ producto.categoria.nombreCategoria }}</td>
                    <td>{{ producto.codigoBarras }}</td>
                    <td>{{ producto.precioVenta | currency:'USD' }} </td>
                    <td>{{ producto.estado }}</td> 
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-text p-button-info" (click)="verProductoDetalle(producto)"></button>
                        <button *ngIf="onlyRoleAdmin" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-success" (click)="editarProducto(producto)"></button>
                        <button *ngIf="onlyRoleAdmin" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="eliminarProducto(producto)"></button>
                    </td>                
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    
    <!-- vista edición -->
    <p-dialog [(visible)]="productoDialog" [style]="{ width: '35rem', height: '28.2rem' }" header="Detalle de producto" [modal]="true"  [draggable]="false" [resizable]="false" styleClass="p-fluid" (onHide)="cancel()">
        <ng-template pTemplate="content">
            <!--<div class="form-container">-->
                <form class="filter-form" [formGroup]="isShowProductoDetalle ? formVerProducto : formEditarProducto">
                    <table class="table-full-width" cellspacing="0">
                        <tr class="row">      
                            <td class="column">
                                <span class="p-float-label">
                                    <input id="input-producto-show" type="number" pInputText formControlName="idProducto" class="p-inputtext-sm w-full" />
                                    <label id="label-codigo-pro" htmlFor="idProducto" placeholder="Código Producto">Código Producto</label>
                                </span>
                            </td>          
                            <td class="column">
                                <span class="p-float-label">
                                    <input [id]="isShowProductoDetalle? 'input-producto-show': 'input-producto'" type="text" pInputText formControlName="nombreProducto" class="p-inputtext-sm w-full"/>
                                    <label id="label-nombre-pro "htmlFor="nombreProducto">Nombre producto</label>
                                </span>
                            </td>       
                            
                            <td class="column">
                                <span class="p-float-label">
                                    <input [id]="isShowProductoDetalle? 'input-producto-show': 'input-producto'" type="text" pInputText formControlName="descripcion" class="p-inputtext-sm w-full"/>
                                    <label htmlFor="descripcion">Descripción</label>
                                </span>                    
                            </td>
                            <td class="column">
                                <span class="p-float-label">
                                    <input [id]="isShowProductoDetalle? 'input-producto-show': 'input-producto'" type="text" pInputText formControlName="codigoBarras" class="p-inputtext-sm w-full"/>
                                    <label htmlFor="codigoBarras">Código de barras</label>
                                </span>                                       
                            </td>
            
                            <td class="column">           
                                <span class="p-float-label" *ngIf="isEditProductoDetalle; else templateElseEditCat">
                                    <p-dropdown formControlName="categoria" [options]="categorias" placeholder="Seleccione una categoría" optionLabel="nombreCategoria" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}"></p-dropdown>
                                    <label for="float-label">Categoría</label>
                                </span>
                                <ng-template #templateElseEditCat>
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="categoria" class="p-inputtext-sm w-full"/>
                                        <label htmlFor="estado">Categoría</label>
                                    </span>
                                </ng-template>
                            </td> 
                            <td class="column"> 
                                <span class="p-float-label">
                                    <p-inputNumber formControlName="costo" class="p-inputtext-sm w-full" [inputId]="isShowProductoDetalle? 'input-producto-show': 'currency-us'" mode="currency" currency="USD" locale="en-US" [required]="true"></p-inputNumber>
                                    <label htmlFor="costo">Costo</label>
                                </span> 
                            </td>
                            <td class="column"> 
                                <span class="p-float-label">
                                    <p-inputNumber formControlName="precioVenta" class="p-inputtext-sm w-full" [inputId]="isShowProductoDetalle? 'input-producto-show': 'currency-us'" mode="currency" currency="USD" locale="en-US" [required]="true"></p-inputNumber>
                                    <label htmlFor="precioVenta">Precio de venta</label>
                                </span>                    
                            </td>
                            <td class="column">                    
                                <span class="p-float-label" *ngIf="isEditProductoDetalle; else templateElseEditPro">
                                    <p-dropdown appendTo="body" id="input-estados-cat" formControlName="estado" [options]="estados" optionLabel="valor" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}"></p-dropdown>
                                    <label for="float-label">Estados</label>
                                </span>
                                <ng-template #templateElseEditPro>
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="estado" class="p-inputtext-sm w-full"/>
                                        <label htmlFor="estado">Estado</label>
                                    </span>
                                </ng-template>
                                
                            </td> 
                        </tr>               
                    </table>
                </form>
            <!--</div>-->
            
        </ng-template>
    
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center" *ngIf="isEditProductoDetalle; else templateElse">
                <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text btn-color" (click)="ejecutarEditarProducto()"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text btn-color-cancel" (click)="ocultarDialog()"></button>            
            </div>
            <ng-template #templateElse>
                <div class="flex justify-content-center"><button pButton pRipple label="Aceptar" icon="pi pi-check" class="p-button-text btn-color" (click)="ocultarDialog()"></button></div>
            </ng-template>
            
        </ng-template>
    </p-dialog>
    
    <p-confirmDialog #cd [style]="{ width: '30rem' }">
    
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center">
                <button type="button" pButton 
                icon="pi pi-check" label="Aceptar"
                class="p-button-text btn-color"
                (click)="cd.accept()">
            </button>
    
            <button type="button" pButton 
                icon="pi pi-times" label="Cancelar" 
                class="p-button-text btn-color-cancel"
                (click)="cd.reject()">
            </button>
            </div>
            
        </ng-template>
    </p-confirmDialog>
    
</div>