<div class="body-container">
    <div class="btn-shorcut">
        <h3 class="h2-color">Dashboard</h3> 

        <div class="btn-group">
            <button pButton pRipple label="Venta rápida" icon="fa-solid fa-circle-dollar-to-slot" class="p-button-text button"></button>
            <button pButton pRipple label="Venta normal" icon="fa-solid fa-cart-plus" class="p-button-text button"></button>
        </div>
        
    </div>
    <div class="container flex justify-content-start flex-wrap">
        <div class="card-container flex-grow-1">
            <p-card [style]="styleCard">
                <ng-template pTemplate="header">
                    <p class="card-title"> {{ totalVentas.header }} </p> 
                    <p class="card-body"> {{ totalVentas.body | currency:'USD'}} </p>
                    <p-divider></p-divider>
                    <div class="flex flex-none">
                        <p-splitButton [label]="mesStrTotalVentas" [model]="this.items" (onClick)="mesTotalVentas === -1 ? seMuestraCalendar = true : getTotalVentasPorMes(mesTotalVentas)" styleClass="p-button-sm p-button-text p-button-secondary mr-2 mb-2"></p-splitButton>                
                        <div *ngIf="seMuestraCalendar" class="calendar-width">
                            <p-calendar [(ngModel)]="rangoFechaTotalVentas" selectionMode="range" dateFormat="yy-mm-dd" [readonlyInput]="true" (onClickOutside)="getTotalVentasPorRangoFecha()"></p-calendar>
                        </div>
                    </div>
                    
                </ng-template>
            </p-card>
        </div>   
        <div class="card-container flex-grow-1">
            <p-card [style]="styleCard">
                <ng-template pTemplate="header">
                    <p class="card-title"> {{ totalGanancias.header }} </p> 
                    <p class="card-body"> {{ totalGanancias.body | currency:'USD'}} </p>
                    <p-divider></p-divider>
                    <div class="flex flex-none">
                        <p-splitButton [label]="mesStrTotalGanancias" [model]="this.itemsGanancias" (onClick)="mesTotalGanancias === -1 ? seMuestraCalendarGanancias = true : getTotalGananciasPorMes(mesTotalGanancias)" styleClass="p-button-sm p-button-text p-button-secondary mr-2 mb-2"></p-splitButton>
                        <div *ngIf="seMuestraCalendarGanancias" class="calendar-width">
                            <p-calendar [(ngModel)]="rangoFechaTotalGanancias" selectionMode="range" dateFormat="yy-mm-dd" [readonlyInput]="true" (onClickOutside)="getTotalGananciasPorRangoFecha()"></p-calendar>
                        </div>
                    </div>                
                </ng-template>
            </p-card>
        </div>
        <div class="card-container flex-grow-1" >
            <p-card [style]="styleCard">
                <ng-template pTemplate="header">
                    <p class="card-title"> {{ productoTop.header }} </p> 
                    <p class="card-body"> {{ productoTop.body }} </p>
                    <p-divider></p-divider>
                    <div class="flex flex-none">
                        <p-splitButton [label]="mesStrProductoTop" [model]="this.itemsProductos" (onClick)="mesProductoTop === -1 ? seMuestraCalendarProductoTop = true : getProductoTopPorMes(mesProductoTop)" styleClass="p-button-sm p-button-text p-button-secondary mr-2 mb-2"></p-splitButton>
                        <div *ngIf="seMuestraCalendarProductoTop" class="calendar-width">
                            <p-calendar [(ngModel)]="rangoFechaProductoTop" selectionMode="range" dateFormat="yy-mm-dd" [readonlyInput]="true" (onClickOutside)="getProductoTopPorRangoFecha()"></p-calendar>
                        </div>
                    </div>
                    
                </ng-template>
            </p-card>
        </div>
        
    </div>
    
    <div class="container flex flex-wrap">
        <!-- Card donde se muestra listado de ventas -->
        <div class="card-container flex-grow-1 w-27rem">
            <p-card [style]="styleVentaCard">
                <ng-template pTemplate="header">
                    <p-splitButton [label]="labelVentas" [model]="this.itemsVentas" styleClass="p-button-sm p-button-text p-button-secondary mr-2 mb-2"></p-splitButton>                
                    <p-divider styleClass="divider-class"></p-divider>
                    <p-table [value]="ultimasVentas" [scrollable]="true" scrollHeight="32vh"
                            [tableStyle]="{ 'min-width': '20rem',  }" class="p-datatable-sm">
                        <ng-template pTemplate="body" let-venta>
                            <tr>
                                <td><i class="fa-solid fa-bag-shopping icono-color"></i></td>
                                <td class="descripcion">{{ venta.descripcion }}</td>
                                <td class="descripcion">{{ venta.total | currency:'USD' }}</td>                                            
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
            </p-card>
        </div> 
        
       
        <div class="chart-container flex-grow-1">
            <p-chart #chart type="line" class="flex-auto" height="100%" width="98%"  [data]="data" [options]="options"></p-chart>
            <span class="p-buttonset align-self-end absolute group-button">
                <button pButton pRipple label="6 meses" class="p-button-sm p-button-outlined p-button-secondary border-gray-300" (click)="obtenerEstadisticasVentas(1)"></button>
                <button pButton pRipple label="30 días" class="p-button-sm  p-button-outlined p-button-secondary border-gray-300" (click)="obtenerEstadisticasVentas(2)"></button>
                <button pButton pRipple label="7 días" class="p-button-sm  p-button-outlined p-button-secondary border-gray-300" (click)="obtenerEstadisticasVentas(3)"></button>
            </span>
            
        </div>
            
       
        
    </div>
</div>