<div class="body-container">
    <p-toast></p-toast>
    <p-toast position="bottom-center" key="bc"></p-toast>
    <div class="btn-shorcut">
        <h3 class="h3-color">{{titulo}}</h3>
        <div class="btn-group" *ngIf="!realizandoVenta">
            <button pButton pRipple label="Venta rápida" icon="fa-solid fa-circle-dollar-to-slot" class="p-button-text button" (click)="habilitarVentaRapida()"></button>
            <button pButton pRipple label="Venta normal" icon="fa-solid fa-cart-plus" class="p-button-text button" (click)="habilitarVentaNormal()"></button>
        </div>
    </div>
    <!-- Venta Rápida -->
    <div class="venta-rapida-container" *ngIf="esVentaRapida">        
        <form [formGroup]="formVentaRapida" class="filter-form p-fluid">
            <table class="table-full-width" cellspacing="0">
                <tr class="row">      
                    <td class="column">
                        <span class="p-float-label">
                            <p-dropdown id="input-productos" formControlName="producto" [options]="productos" placeholder="Seleccione un producto" optionLabel="nombreProducto" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}" [filter]="true" filterBy="nombreProducto"></p-dropdown>
                            <label for="float-label">Producto</label>
                        </span>                   
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <input id="input-codigo-barras" type="text" pInputText formControlName="codigoBarras" class="p-inputtext-sm w-full" (keypress)="onKeyCodigoBarrasVentaRapida($event)" (blur)="focusOnInputCodigoBarras()" autofocus />
                            <label htmlFor="codigoBarras">Código de barras</label>
                        </span>                                       
                    </td>
                </tr>
                <tr class="row"> 
                    <div class="button-actions">
                        <button mat-flat-button type="submit" color="primary" class="button width height" (click)="realizarVentaRapida()">Vender</button>                       
                        <button mat-flat-button color="accent" class="button width height btn-2" (click)="salirVenta()">Salir</button>
                    </div>
                </tr>
            </table>
        </form>
    </div>

    <!-- Venta Normal -->
    <div class="venta-normal-container" *ngIf="esVentaNormal">        
        <form [formGroup]="formVentaNormal" class="filter-form p-fluid">
            <table class="table-full-width" cellspacing="0">
                <tr class="row">      
                    <td class="column">
                        <span class="p-float-label">
                            <p-dropdown id="input-productos" formControlName="producto" [options]="productos" placeholder="Seleccione un producto" optionLabel="nombreProducto" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}" [filter]="true" filterBy="nombreProducto"></p-dropdown>
                            <label for="float-label">Producto</label>
                        </span>                   
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <input  id="input-codigo-barras" type="text" pInputText formControlName="codigoBarras" class="p-inputtext-sm w-full" (keypress)="onKeyBusquedaProducto($event)" (blur)="focusOnInputCodigoBarras()" autofocus #codigoBarrasVentaNormal/>
                            <label htmlFor="codigoBarras">Código de barras</label>
                        </span>                                       
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <p-inputNumber formControlName="cantidad" placeholder="Ingrese cantidad" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"  incrementButtonClass="p-button-danger btn-color" decrementButtonClass="p-button-warning" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                            <label htmlFor="cantidad">Cantidad</label>
                        </span>                                       
                    </td>
                </tr>
                <tr class="row"> 
                    <div class="button-actions">
                        <button pButton pRipple label="Agregar" icon="fa-solid fa-plus" class="p-button-text button-add width height" (click)="agregarProductoALaVenta()"></button>                        
                    </div>
                </tr>
            </table>
        </form>

       <h4 class="titulo-h4">Detalle de productos a vender: </h4>
       <div class="card-table">  
        <p-table [value]="detalleVentaNormal!" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-start h-1rem">
                    <p *ngIf="detalleVentaNormal.length === 0; else elseTemplate" style="color: slategray;">Aun no se han agregado productos</p>    
                    <ng-template #elseTemplate>
                        <p style="color: #F31559;">Total:  {{ getTotalDetalleVentaNormal() | currency: 'USD'}} </p> 
                    </ng-template>                
                </div>                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%; ">Producto</th>
                    <th style="width:20%; ">Cantidad</th>
                    <th style="width:20%; ">Valor unitario</th>
                    <th style="width:20%; ">Valor total</th>
                    <th style="width:15%; text-align: center;"><div class="th-text-color">Acciones</div></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{ detalle.producto.nombreProducto }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.valorUnitario | currency: 'USD' }}</td>
                    <td>{{ detalle.valorTotal | currency: 'USD' }}</td>
                    <td style="text-align: center;">                       
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="eliminarDetalleVentaNormal(detalle)"></button>
                    </td>  
                </tr>
            </ng-template>
            
        </p-table>
        <div class="button-actions">
            <button pButton pRipple label="Vender" icon="fa-solid fa-cart-plus" class="p-button-text button-add width height" (click)="realizarVentaNormal()" [disabled]="detalleVentaNormal.length === 0"></button>
            <button pButton pRipple label="Cancelar" icon="fa-solid fa-xmark" class="p-button-text button-cancel width height" (click)="salirVenta(); redirect()"></button>
        </div>
       </div>
    </div>

    <!-- Formulario de filtros de busqueda  -->
    <div class="form-container" *ngIf="esShowVenta">
        <form [formGroup]="formBuscarVentas" class="filter-form p-fluid">
            <table class="table-full-width" cellspacing="0">
                <tr class="row">      
                   <!-- <td class="column" *ngIf="onlyRoleAdmin">
                        <span class="p-float-label">
                            <input id="input-venta" placeholder="Ingrese código de venta" type="number" pInputText formControlName="idVenta" class="p-inputtext-sm w-full"/>
                            <label htmlFor="idVenta">Código de venta</label>
                        </span>                   
                    </td>    -->      
                    <td class="column" *ngIf="onlyRoleAdmin">
                        <span class="p-float-label">
                            <input id="input-venta" type="text" pInputText formControlName="vendedor" class="p-inputtext-sm w-full"/>
                            <label htmlFor="vendedor">Vendedor</label>
                        </span>                    
                    </td>
                
                    <td class="column" *ngIf="onlyRoleAdmin"> 
                        <span class="p-float-label ">
                            <p-dropdown id="input-estados-cat" formControlName="estado" [options]="estados" placeholder="Seleccione un estado" optionLabel="valor" inputId="float-label" class="p-inputtext-sm" [style]="{'width':'100%'}"></p-dropdown>
                            <label for="float-label">Estados</label>
                        </span>                    
                    </td> 
                   <!-- <td class="column" *ngIf="onlyRoleAdmin">
                        <span class="p-float-label">
                            <input id="input-venta" type="text" pInputText formControlName="cliente" class="p-inputtext-sm w-full"/>
                            <label htmlFor="cliente">Cliente</label>
                        </span>
                    </td>-->
    
                    <td class="column">
                        <span class="p-float-label">
                            <p-calendar formControlName="fechaDesde" placeholder="Fecha desde" dateFormat="yy-mm-dd" class="p-inputtext-sm w-full" [showIcon]="true"  [showTime]="true" [showSeconds]="true"></p-calendar>                  
                            <label htmlFor="fechaDesde">Fecha desde</label>
                        </span>                        
                    </td>
                    <td class="column">
                        <span class="p-float-label">
                            <p-calendar formControlName="fechaHasta" placeholder="Fecha hasta" dateFormat="yy-mm-dd" class="p-inputtext-sm w-full" [showIcon]="true"  [showTime]="true" [showSeconds]="true"></p-calendar>                  
                            <label htmlFor="fechaHasta">Fecha hasta</label>
                        </span>                        
                    </td>
                </tr>
                <tr class="row"> 
                    <div class="button-actions">
                        <button mat-flat-button type="submit" color="primary" class="button width height" (click)="buscarVentasPorFiltros()">Buscar</button>
                        <button mat-flat-button color="accent" class="button width height btn-2" (click)="limpiarFormularioBusqueda()">Limpiar</button>
                    </div>
                </tr>
            </table>
        </form>
    </div>
   
    <div class="flex flex-row justify-content-between mr-6">
        <h4 class="h3-color mt-3 mb-2" *ngIf="esShowVenta  || esVentaRapida">Listado de ventas</h4>
        <div class="flex flex-row">
            <p *ngIf="isTotalVentaSegunFiltro" class="align-self-end">Total de ventas: {{totalDeVentasSegunFiltros| currency: 'USD'}}</p>
            <button *ngIf="onlyRoleAdmin && isTotalVentaSegunFiltro && ventas.length > 0" pButton pRipple icon="pi pi-file-excel" class="p-button-rounded p-button-text p-button-success ml-2" pTooltip="Descargar reporte de ventas"  tooltipPosition="bottom" (click)="generarReporteVentasActivas(); generarReporteVentasAnuladas()"></button>
        </div>        
    </div>    
    <div class="card" *ngIf="esShowVenta  || esVentaRapida">        
        <p-table #dt
                 [value]="ventas"
                 [paginator]="true"
                 [rows]="5"
                 [rowHover]="true"
                 dataKey="idVenta"
                 [showCurrentPageReport]="true"
                 [tableStyle]="{ 'min-width': '50rem',  }" class="p-datatable-sm"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[5, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:7%;"><div class="th-text-color">Código</div></th>
                    <th style="width:15%;"><div class="th-text-color">Vendedor</div></th>
                    <th style="width:15%;"><div class="th-text-color">Productos</div></th>
                    <th style="width:15%;"><div class="th-text-color">Total</div></th>
                    <th style="width:18%;"><div class="th-text-color">Fecha de Venta</div></th>
                    <th style="width:15%;"><div class="th-text-color">Estado</div></th>
                    <th style="width:15%; text-align: center;"><div class="th-text-color">Acciones</div></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-venta>
                <tr>
                    <td>{{ venta.idVenta }}</td>
                    <td>{{ venta.vendedor }}</td>
                    <td>{{ this.getResumenProductosVenta(venta) }}</td>
                    <td>{{ venta.total | currency: 'USD' }}</td>
                    <td>{{ venta.fechaVenta }} </td>
                    <td>{{ venta.estado }}</td> 
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-text p-button-info" (click)="verDetalleVenta(venta)"></button>
                        <button *ngIf="venta.estado !== 'Anulado' && onlyRoleAdmin" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="anularVenta(venta)"></button>
                    </td>                
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- vista edición -->
<p-dialog [(visible)]="ventaDialog" [style]="{ width: '65rem', height: 'auto' }" [header]="header" [modal]="true"  [draggable]="false" [resizable]="false" styleClass="p-fluid fondo" (onHide)="cancel()">
    <ng-template pTemplate="content">
        <!-- Formulario Cabecera -->
        <h4 class="titulo-h4">Información general: </h4>
        <div class="card-table">            
            <p-table [value]="ventaShow" [tableStyle]="{ 'min-width': '50rem' }" class="p-datatable-lg">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Código</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Subtotal</th>
                        <th>Iva 12%</th>
                        <th>Descuento</th>
                        <th>Total</th>
                        <th>Fecha de venta</th>
                        <th>Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta>
                    <tr>
                        <td>{{ venta.idVenta }}</td>
                        <td>{{ venta.vendedor }}</td>
                        <td>{{ venta.cliente }}</td>
                        <td>{{ venta.subtotal | currency: 'USD' }}</td>
                        <td>{{ venta.iva | currency: 'USD' }}</td>
                        <td>{{ venta.descuento | currency: 'USD' }}</td>
                        <td>{{ venta.total | currency: 'USD' }}</td>
                        <td>{{ venta.fechaVenta }}</td>
                        <td>{{ venta.estado  }}</td>
                    </tr>
                </ng-template>
            </p-table>
       </div>
       <h4 class="titulo-h4">Detalle de productos vendidos: </h4>
       <div class="card-table">        
        <p-table [value]="detalleVenta!" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código detalle</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor unitario</th>
                    <th>Valor total</th>
                    <th>Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{ detalle.idVentaDet }}</td>
                    <td>{{ detalle.producto.nombreProducto }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.valorUnitario | currency: 'USD' }}</td>
                    <td>{{ detalle.valorTotal | currency: 'USD' }}</td>
                    <td>{{ detalle.estado }}</td>
                </tr>
            </ng-template>
        </p-table>
       </div>
        
    </ng-template>

    <ng-template pTemplate="footer">        
        <div class="flex justify-content-center"><button pButton pRipple label="Aceptar" icon="pi pi-check" class="p-button-text btn-color" (click)="ocultarDialog()"></button></div>
    </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{ width: '30rem' }">
    
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <button type="button" pButton 
            icon="pi pi-check" label="Aceptar"
            class="p-button-text btn-color"
            (click)="cd.accept()">
        </button>

        <button type="button" pButton 
            icon="pi pi-times" label="Cancelar" 
            class="p-button-text btn-color-cancel"
            (click)="cd.reject()">
        </button>
        </div>
        
    </ng-template>
</p-confirmDialog>