.h2-color{
    color: #F31559;
}

.card-separator{            
    border: 0.5px solid #E7E7E7;
    margin: 0;
}

// nuevo
.title{
    align-items: center;
    font-size: large;
    font-weight: 500;
    overflow: hidden;
    
}

.icon{
    margin: 0.20rem 0.7rem 0 1.4rem;
    padding: 0;
}

.content{
    font-size: medium;
    font-weight: 400;
    margin: 1.4rem;
    height: 8vh;
    overflow: auto;
}

.btn{
    border-radius: 0.4rem;
    height: 2.3rem;
    width: 8rem;  
    margin: 0;  
    font-weight: 550;
}

.card-container{
    flex-grow: 1;
    flex-basis: 25vw;
    width: 28vw;
}